{% extends 'base.html.twig' %}

{% block title %}Hello ContactUsController!{% endblock %}

{% block body %}

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
                <div class="connexion">
                    {% if app.user %}
                            <div class="mb-3 userConnect">
                                Bonjour {{ app.user.pseudo }}
                                {% if app.user.profileImage %}
                                    <img src="/images/profile/{{ app.user.profileImage }}" width="40px" height="35px" />
                                {% else %}
                                <img src="{{ asset('/assets/images/avatar/avatar2.jpg') }}" width="20px" />
                                {% endif %}
                            </div>

                         <div class="deconnexionBtn">
                            <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a> 
                         </div>
                        
                   {% else %}
                        <a href="{{ path('app_register') }}" class="registerBtn">Pas encore inscrit c'est ici !</a>
                        sinon
                        <a href="{{ path('app_login') }}" class="connexionBtn">Connectez vous ici !</a>
                    {% endif %}
                </div> 
                
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="mt-2 logo">
                            <div class="row p-2 border border-2 rounded">
                            <img src="{{ asset('/assets/images/avatar/avatar2.jpg') }}" width="20px" />
                                <h4 class="text-success font-weight-bold">Zoo paradis</h4>
                            </div>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="btn btn-warning btn-small"><a href="/admin">Admin</a></li>
                        {% endif %}
                            <li class="scroll-to-section"><a href="/" class="active">Accueil</a></li>
                            <li class="scroll-to-section"><a href="#men">Eau</a></li>
                            <li class="scroll-to-section"><a href="#women">Terre</a></li>
                            <li class="scroll-to-section"><a href="#kids">Ciel</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="/about">A propos</a></li>
                                    <li><a href="/products">Nos services</a></li>
                                    <li><a href="/habitats">Les habitats</a></li>
                                    <li><a href="/contact/us">Contact</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#explore">Explore</a></li>
                        </ul>   
                        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
        </div>
                   
        </div> 
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Contactez - nous</h2>
                        <span>Awesome, clean &amp; creative HTML5 Template</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Contact Area Starts ***** -->
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div id="map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90186.37207676383!2d-80.13495239500924!3d25.9317678710111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ad1877e4a82d%3A0xa891714787d1fb5e!2sPier%20Park!5e1!3m2!1sen!2sth!4v1637512439384!5m2!1sen!2sth" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                      <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                      
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Laissez nous un message</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                    {{ form_start(ContactForm, {'attr': {'class': 'form'}}
					) }}
                        <div class="row">
                          <div class="col-lg-6">
                            <fieldset>
                                {{ form_label(ContactForm.titre, null, {'label_attr': {'class': 'form-label'}}
                                ) }}
                                {{ form_widget(ContactForm.titre, {'attr': {'class': 'form-control'}}
                                ) }}
                                {{ form_errors(ContactForm.titre, {'attr': {'class': 'text-danger'}}
                                ) }}
                            </fieldset>
                          </div>
                          <div class="col-lg-6">
                            <fieldset>
                                {{ form_label(ContactForm.email, null, {'label_attr': {'class': 'form-label'}}
                                ) }}
                                {{ form_widget(ContactForm.email, {'attr': {'class': 'form-control'}}
                                ) }}
                                {{ form_errors(ContactForm.email, {'attr': {'class': 'text-danger'}}
                                ) }}
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                                {{ form_label(ContactForm.description, null, {'label_attr': {'class': 'form-label'}}
                                ) }}
                                {{ form_widget(ContactForm.description, {'attr': {'class': 'form-control'}}
                                ) }}
                                {{ form_errors(ContactForm.description, {'attr': {'class': 'text-danger'}}
                                ) }}
                            </fieldset>
                          </div>
                          
                        </div>
                      {{ form_end(ContactForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    {#<div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>
                                <li>Phone:<br><span>010-020-0340</span></li>
                                <li>Office Location:<br><span>North Miami Beach</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                                <li>Email:<br><span>info@company.com</span></li>
                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
    <!-- ***** Subscribe Area Ends ***** -->

   <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="assets/images/white-logo.png" alt="Zoo paradis Brocéliand">
                        </div>
                        <ul>
                            <li><a href="#">Forêt de Brocéliand</a></li>
                            <li><a href="#">zoo-paradis@broceliand.com</a></li>
                            <li><a href="#">05.24.77.43.11</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Liens éssentiels</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">Aide</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2024 Zoo paradis., tout droit Réservés. 
                        
                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">Limay</a>

                        <br>Distribué par: <a href="https://themewagon.com" target="_blank" title="free & premium responsive templates">ASSOFAC MONTREUIL</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
{% endblock %}
